---
import { animate, scroll } from "motion";

import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Formular from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import ForsideKaffe from '../assets/images/forside_kaffe.webp';
import ImgRaekke from '../assets/images/imgraekke.webp';
import Boller from '../assets/images/boller.webp';
import CookieLemonade from '../assets/images/cookie_lemonade.webp';
import ESSOfacade from '../assets/images/esso_facade.webp';
import Mexico from '../assets/images/justcoffee_mexico.webp';
import SolMaane from '../assets/images/justcoffee_sologmaane.webp';
import Skaenke from '../assets/images/skaenke_champagne.webp';
import Galleri8 from '../assets/images/galleri8.webp';
import VinGalleri from '../assets/images/vin_galleri.webp';
import Cheesecake from '../assets/images/hero_menu.webp';
import KaffeBlomstLys from '../assets/images/kaffe_blomst_lys.webp';
import Champagne from '../assets/images/insta_champagne.webp';
import Kaffemaskine from '../assets/images/kaffemaskine.webp';
import KaffeSkammel from '../assets/images/kaffe_skammel.webp';

const {variant= "primary" , size= "medium"} = Astro.props;
---
<MainLayout title="Forside">

<!-- Hero med stemningsvideo -->
<section class="relative h-screen overflow-hidden">
  <!-- Video-wrapper (parallax) -->
  <div class="absolute inset-0 -z-10 will-change-transform" style="transform: translateY(calc(var(--scroll, 0) * 0.5));">
    <video
      src="/ny-esso-hero-stemning.mp4"
      autoplay
      loop
      muted
      
      class="h-screen object-cover pb-spacing-5xl space-y-spacing-ml-(mobil) md:w-screen md:space-y-spacing-6xl"
    ></video>
  </div>
</section>

<!-- Pil udenfor video-sektion -->
<div class="relative -mt-56 z-10 flex justify-center">
  <a href="#velkommen">
    <img
      src="/pilned.svg"
      alt="Scroll ned"
      class="w-12 h-12 cursor-pointer scroll-smooth"
    />
  </a>
</div>

 <!-- Original hero uden effekt - Hero med stemningsvideo -->
 <!-- </section>
  <div class="video">
        <video src="/ny-esso-hero-stemning.mp4" autoplay loop muted class="h-screen object-cover pb-spacing-5xl space-y-spacing-ml-(mobil) md:w-screen md:space-y-spacing-6xl"></video>
      </div>    

     <div class="absolute bottom-40 left-1/2 transform -translate-x-1/2 z-10">
  <a href="#velkommen">
    <img
      src="/pilned.svg"
      alt="Scroll ned"
      class="w-12 h-12 cursor-pointer scroll-smooth"
    />
  </a>
</div>
  </section> -->

 <!-- Kort intro og billeder -->
<section id="velkommen" class="intro flex flex-col-reverse md:flex-row py-0 px-0 md:pl-20 md:pt-40 pt-28 md:space-y-spacing-xl md:space-x-spacing-5xl items-center max-w-7xl mx-auto">
  <div>
    <Image
      src={ForsideKaffe}
      alt="en kaffe bliver lavet"
      class="h-[380px] w-[380px] object-cover object-[40%_88%] rounded-border-radius-25 md:h-[530px] md:w-[530px] md:mt-10"
    />
  </div>

  <div class="md:ml-10 md:w-2/5 w-5/5 ml-11 mb-spacing-3xl-(mobil)">
    <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium md:leading-56 leading-48 space-x-spacing-6xl md:text-52 items-center">
      Velkommen til Esso <br> - en café med mere på hjerte
    </h1>
    <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 md:pr-10 pr-20">
      Hos Esso handler det ikke om at skynde sig. Vi inviterer dig ind i et rum, hvor stemningen er rolig, kaffen er god, og detaljerne tæller.
      Alt hos os er lavet fra bunden med kærlighed og fokus på kvalitet. Kom og smag vores hjemmelavede toast, kager og forfriskende drikke. Vi lover, du kan smage forskellen. <br /><br />

      Om du er på udkig efter en stille stund eller lidt luft i en travl hverdag, er du velkommen her. Her er der plads til både dem, der kommer alene med en bog under armen, og dem, der kommer for at dele grin over en god kop kaffe.
    </p>
  </div>
</section>

  <!-- CTA -->
  <section class="trebilleder min-h-screen items-center justify-center flex flex-col md:flex-row py-20 px-4 md:space-x-spacing-7xl mt-spacing-m-(mobil) w-full max-w-[1350px] mx-auto md:mt-[110px]">

    <!-- Overskrift -->
    <div class="md:w-6/7 w-4/5 mt-0 ">
      <h1 class="text-left text-44 font-EBGaramond font-medium md:leading-56 leading-48 md:text-52 md:space-y-spacing-5xl mb-spacing-3xl-(mobil)">
        Mere end bare kaffe <br> – en oplevelse for dine sanser
      </h1>

  <!-- Skrå række med 3 billeder -->
  <div class="hidden md:flex justify-center w-full space-x-spacing-2xl mt-[200px]">

      <!-- Billede 1 -->
      <div class="w-[800px] h-[800px] mt-0">
        <Image
          src={ImgRaekke}
          alt="Række kaffe"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>

      <!-- Billede 2 -->
      <div class="w-[800px] h-[800px] -mt-24">
        <Image
          src={Boller}
          alt="Boller"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>

      <!-- Billede 3 -->
      <div class="w-[800px] h-[800px] -mt-48">
        <Image
          src={CookieLemonade}
          alt="Cookie og lemonade"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>
    </div>

    <!-- Mobil-visning: horisontal scroll -->
   <div class="overflow-clip">
      <div class="md:hidden flex overflow-x-auto space-x-[30px] px-0">
        <div class="flex-shrink-0">
          <Image src={ImgRaekke} alt="Række kaffe" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
        <div class="flex-shrink-0">
          <Image src={Boller} alt="Boller" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
        <div class="flex-shrink-0">
          <Image src={CookieLemonade} alt="Cookie og lemonade" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
      </div>
    </div>

    <!-- Tekst til CTA -->
    <div class="md:w-2/4 w-5/5 md:mt-[-460px] md:ml-auto mt-spacing-m-(mobil)">
      <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium md:leading-56 leading-48 md:text-52 mt-spacing-3xl-(mobil)">
        Find ro i vores menu
      </h1>

      <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:mr-10 mb-10">
        Vores hjemmelavede menu byder på håndplukkede favoritter, som er skabt til at nyde i dit eget tempo. Her finder du både det klassiske og det nytænkte, det søde og det salte.
        Alt er lavet med kærlighed og med respekt for råvarer. <br>
        Uanset om du længes efter noget let eller bare din faste kaffe, så har vi noget til dig.
      </p>

      <!-- CTA-knap -->
       <a href="/menu">
        <div class="flex justify-center md:hidden">
                  <Button  type="submit" variant="primary", size="small" >Se vores menu</Button>
                </div>
                <!-- OBS: knap variant til desktop -->
                <div class="md:flex md:justify-start md:pt-spacing-s hidden md:pl-0 md:mx-0">
                  <Button  type="submit" variant="primary", size="medium" >Se vores menu</Button>
                 </div>
        </a>
        </div>
    </div>
    </section>

 <!-- Afsnit om Esso + CTA-knap -->
<section class="omos bg-color-creme md:pl-20 pb-28 md:h-750px] min-h-full flex items-center justify-center flex-col-reverse md:flex-row md:space-x-spacing-5xl px-0 space-y-spacing-4xl w-full mx-auto mt-spacing-xl-(mobil) md:pb-20">
  <!-- Billede -->
  <div>
    <Image
      src={ESSOfacade}
      alt="en kaffe bliver lavet"
      class="h-[260px] w-[360px] object-cover object-[50%_70%] rounded-border-radius-25 md:h-[440px] md:w-[520px] md:mt-28 mt-spacing-4xl-(mobil) md:ml-16"
    />
  </div>

  <!-- Tekst + CTA -->
  <div class="md:ml-20 md:w-2/5 w-4/5">
    <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium md:leading-56 leading-48 md:text-52 md:w-4/5">
      Din lokale café i Valby
    </h1>
    <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 md:mb-0 mb-10 md:w-4/5 md:pr-0 pr-0">
      Hos Esso finder du mere end bare god kaffe. Vi har skabt et sted med kvalitet og atmosfære, hvor alle er velkomne, og hverdagen får lov at trække vejret. Kom forbi og mærk stemningen selv. <br />
      Her handler det om ægthed. Et sted, hvor mennesker mødes, ideer opstår og stemninger får lov at gro.
    </p>

    <!-- CTA-knap -->
    <a href="/omos">
      <div class="flex justify-center md:hidden">
        <Button type="submit" variant="secondary" size="small">Læs mere om os</Button>
      </div>
      <div class="md:flex md:justify-start md:pt-spacing-m hidden md:pl-0 md:mx-0">
        <Button type="submit" variant="secondary" size="medium">Læs mere om os</Button>
      </div>
    </a>
</section>

<!-- Afsnit om Menuen + CTA -->
<section class="udvalg bg-color-creme flex items-center justify-center flex-col-reverse md:flex-row md:space-x-spacing-7 pt-0 space-y-spacing-xl w-full h-full mx-auto md:h-[750px] md:pb-0">
  <!-- Tekst + CTA -->
  <div class="md:ml-20 md:w-2/5 w-4/5 order-2 md:order-1 md:pr-10 md:pt-0 pt-16">
    <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium md:leading-56 leading-48 md:text-52 md:mt-0">
      Smag du kan tage med hjem
    </h1>
    <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 mb-10 md:pr-10 pr-0 md:w-5/6">
      Ud over frisklavet kaffe og hjemmelavet bagværk byder vi også på naturlige vine, nøje udvalgte produkter og små delikatesser. Alt er udvalgt med omtanke både til dig selv, til middagsbordet eller som en særlig gave. <br />
      Tag lidt af Esso med hjem og forlæng følelsen – også uden for caféens fysiske rum.
    </p>

    <!-- CTA-knap -->
    <a href="/menu">
      <div class="flex justify-center md:hidden">
        <Button type="submit" variant="primary" size="small">Se caféens udvalg</Button>
      </div>
      <div class="md:flex md:justify-start md:pt-spacing-s hidden md:pl-0 md:mx-0">
        <Button type="submit" variant="primary" size="medium">Se caféens udvalg</Button>
      </div>
    </a>
  </div>

  <!-- Billeder -->
  <div class="flex space-x-spacing-sm md:w-[580px] w-full justify-center order-1 md:order-2">
    <Image
      src={Mexico}
      alt="en kaffe bliver lavet"
      class="h-[200px] w-[140px] md:h-[250px] md:w-[180px] object-cover object-[60%_115%] rounded-border-radius-25 md:mt-[200px] mt-[80px]"
    />
    <Image
      src={SolMaane}
      alt="interiør af café"
      class="h-[290px] w-[200px] md:h-[430px] md:w-[300px] object-cover object-[60%_115%] rounded-border-radius-25 md:mt-[100px] mt-[40px] mb-spacing-4xl"
    />
  </div>
</section>


 <!-- Instagram Feed -->
<section class="instagram flex flex-col items-left text-left md:text-left mb-spacing-2xl md:mt-spacing-4xl mt-spacing-2xl px-spacing-m max-w-[1200px] mx-auto">
  <h1 class="text-44 md:text-52 font-EBGaramond font-medium mb-spacing-xs ">
    Følg med på vores instagram
  </h1>
  <h3 class="text-36 md:text-44 font-EBGaramond mb-spacing-xs hover:underline text-left md:text-left">
    <a href="https://www.instagram.com/esso_cph/" target="_blank" rel="noopener noreferrer">@esso_cph</a>
  </h3>
  <p class="font-LivvicRegular text-18 mt-spacing-xs">
    På Instagram deler vi små glimt fra vores hverdag i caféen. Alt fra friskbrygget kaffe
    og hjemmelavet mad til nye varer på hylderne og de hyggelige øjeblikke.
  </p>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-spacing-xl mb-spacing-m md:mb-spacing-2xl">
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Cheesecake} alt="første billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_68%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={KaffeBlomstLys} alt="andet billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_80%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={VinGalleri} alt="tredje billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_60%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Champagne} alt="fjerde billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_80%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Kaffemaskine} alt="femte billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={KaffeSkammel} alt="sjette billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Skaenke} alt="syvende billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[40%_95%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Galleri8} alt="ottende billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
  </div>
</section>

  <Formular />

</MainLayout>

<script>
    import { inView } from "motion";
        
        const elementmedanimation1 = document.querySelector(".intro");
        
        inView(elementmedanimation1, () => {
        
        elementmedanimation1.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
  
        const elementmedanimation2 = document.querySelector(".trebilleder");
        
        inView(elementmedanimation2, () => {
        
        elementmedanimation2.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
  
  
        const elementmedanimation3 = document.querySelector(".omos");
        
        inView(elementmedanimation3, () => {
        
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
  
        const elementmedanimation4 = document.querySelector(".udvalg");
        
        inView(elementmedanimation4, () => {
        
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
  
        const elementmedanimation5 = document.querySelector(".instagram");
        
        inView(elementmedanimation5, () => {
        
        elementmedanimation5.classList.add("animate__animated", "animate__fadeInUp");
        
        }); 
  
    </script>