---
import { animate, scroll } from "motion";

import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Formular from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import ForsideKaffe from '../assets/images/forside_kaffe.webp';
import ImgRaekke from '../assets/images/imgraekke.webp';
import Boller from '../assets/images/boller.webp';
import CookieLemonade from '../assets/images/cookie_lemonade.webp';
import ESSOfacade from '../assets/images/esso_facade.webp';
import Mexico from '../assets/images/justcoffee_mexico.webp';
import SolMaane from '../assets/images/justcoffee_sologmaane.webp';
import Skaenke from '../assets/images/skaenke_champagne.webp';
import Galleri8 from '../assets/images/galleri8.webp';
import VinGalleri from '../assets/images/vin_galleri.webp';
import Cheesecake from '../assets/images/hero_menu.webp';
import KaffeBlomstLys from '../assets/images/kaffe_blomst_lys.webp';
import Champagne from '../assets/images/insta_champagne.webp';
import Kaffemaskine from '../assets/images/kaffemaskine.webp';
import KaffeSkammel from '../assets/images/kaffe_skammel.webp';

const {variant= "primary" , size= "medium"} = Astro.props;

const buttonStyling = "text-white rounded-border-radius-25 py-[15px] transition transform hover:opacity-[.66] font-semibold"


const variantClasses = 
{
    primary : "bg-color-mørkebrun px-[80px]",
    secondary: "bg-color-lysebrun px-[80px]",
};

// small for mobil og medium for desktop
const sizeClasses = {
    small: "text-16",
    medium: "text-18",
};

---
<MainLayout title="Forside">

  <!-- Hero med stemningsvideo -->
 </section>
  <div class="video">
        <video src="/ny-esso-hero-stemning.mp4" autoplay loop muted class="h-screen object-cover pb-spacing-5xl space-y-spacing-ml-(mobil) md:w-screen md:space-y-spacing-6xl"></video>
      </div>    

       <div class="absolute bottom-40 left-1/2 transform -translate-x-1/2 z-10">
    <img
      src="/pilned.svg"
      alt="Scroll ned"
      class="w-12 h-12"
    />
  </div>
  </section>

 <!-- Kort intro og billeder -->
<section class="flex flex-col-reverse md:flex-row py-0 px-0 md:pl-20 md:space-y-spacing-xs md:space-x-spacing-6xl items-center max-w-7xl mx-auto">
  <div>
    <Image
      src={ForsideKaffe}
      alt="en kaffe bliver lavet"
      class="h-[380px] w-[380px] object-cover object-[40%_88%] rounded-border-radius-25 md:h-[500px] md:w-[500px]"
    />
  </div>

  <div class="md:ml-10 md:w-2/5 w-5/5 ml-11 mb-spacing-3xl-(mobil)">
    <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium leading-38 space-x-spacing-6xl md:text-52 items-center">
      Velkommen til Esso <br> - en café med mere på hjerte
    </h1>
    <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 pr-20">
      Hos Esso handler det ikke om at skynde sig. Vi inviterer dig ind i et rum, hvor stemningen er rolig, kaffen er god, og detaljerne tæller.
      Alt hos os er lavet fra bunden – med kærlighed og fokus på kvalitet. Kom og smag vores hjemmelavede toast, kager og forfriskende drikke – vi lover, du kan smage forskellen. <br /><br />

      Om du er på udkig efter en stille stund eller lidt luft i en travl hverdag, er du velkommen her. Her er der plads til både dem, der kommer alene med en bog under armen, og dem, der kommer for at dele grin over en god kop kaffe.
    </p>
  </div>
</section>

  <!-- CTA -->
  <section class="min-h-screen items-center justify-center flex flex-col md:flex-row py-20 px-4 md:space-x-spacing-7xl mt-spacing-m-(mobil) w-full max-w-[1350px] mx-auto md:mt-[110px]">

    <!-- Overskrift -->
    <div class="md:w-6/7 w-4/5 mt-0 ">
      <h1 class="text-left text-44 font-EBGaramond font-medium leading-38 md:text-52 md:space-y-spacing-5xl mb-spacing-3xl-(mobil)">
        Mere end bare kaffe <br> – en oplevelse for dine sanser
      </h1>

  <!-- Skrå række med 3 billeder -->
  <div class="hidden md:flex justify-center w-full space-x-spacing-2xl mt-[200px]">

      <!-- Billede 1 -->
      <div class="w-[800px] h-[800px] mt-0">
        <Image
          src={ImgRaekke}
          alt="Række kaffe"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>

      <!-- Billede 2 -->
      <div class="w-[800px] h-[800px] -mt-24">
        <Image
          src={Boller}
          alt="Boller"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>

      <!-- Billede 3 -->
      <div class="w-[800px] h-[800px] -mt-48">
        <Image
          src={CookieLemonade}
          alt="Cookie og lemonade"
          class="w-full h-[50%] object-cover rounded-border-radius-25"
        />
      </div>
    </div>

    <!-- Mobil-visning: horisontal scroll -->
   <div class="overflow-clip">
      <div class="md:hidden flex overflow-x-auto space-x-[30px] px-0">
        <div class="flex-shrink-0">
          <Image src={ImgRaekke} alt="Række kaffe" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
        <div class="flex-shrink-0">
          <Image src={Boller} alt="Boller" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
        <div class="flex-shrink-0">
          <Image src={CookieLemonade} alt="Cookie og lemonade" class="w-[275px] h-[297px] object-cover rounded-[25px]" />
        </div>
      </div>
    </div>

    <!-- Tekst til CTA -->
    <div class="md:w-2/4 w-5/5 md:mt-[-470px] md:ml-auto mt-spacing-m-(mobil)">
      <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium leading-38 md:text-52 mt-spacing-3xl-(mobil)">
        Find ro i vores menu
      </h1>

      <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:mr-10 mb-10">
        Vores hjemmelavede menu byder på håndplukkede favoritter – skabt til at nyde i dit eget tempo. Her finder du både det klassiske og det nytænkte, det søde og det salte. <br>
        Alt er lavet med kærlighed og med respekt for råvarer. <br>
        Uanset om du længes efter noget let eller bare din faste kaffe, så har vi noget til dig.
      </p>

      <!-- CTA-knap -->
       <div class="flex justify-center md:justify-start mt-spacing-m">
          <a href="/menu">
        <Button variant="primary" size="md:medium small">Se vores menu</Button>
      </a>
      </div>

    </div>
    </section>

 <!-- Afsnit om Esso + CTA-knap (mikro) til Om os -->
<section class="bg-color-creme md:pl-20 py-10 md:min-h-[50vh] min-h-full items-center justify-center flex flex-col md:flex-row md:space-x-spacing-5xl px-0 space-y-spacing-2xl w-full mx-auto mt-spacing-xl-(mobil) md:mb-[-140px]">
  <div>
    <Image
      src={ESSOfacade}
      alt="en kaffe bliver lavet"
      class="h-[300px] w-[360px] object-cover object-[50%_70%] rounded-border-radius-25 md:h-[400px] md:w-[580px] md:space-y-spacing-ml md:mt-spacing-5xl mt-spacing-4xl-(mobil) md:ml-10"
    />
  </div>

  <div class="md:ml-20 md:w-2/5 w-4/5">
    <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium leading-38 md:text-52 md:w-4/5 md:mt-spacing-2xl">
    Din lokale café i Valby
  </h1>
    <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 mb-10 md:w-4/5 md:pr-0 pr-0">
    Hos Esso finder du mere end bare god kaffe. Vi har skabt et sted med kvalitet og atmosfære – hvor alle er velkomne, og hverdagen får lov at trække vejret. Kom forbi og mærk stemningen selv. <br>
  Her handler det om ægthed. Et sted, hvor mennesker mødes, ideer opstår og stemninger får lov at gro.
    </p>

     <!-- CTA-knap til Om os -->
        <div class="flex justify-center md:justify-start mt-spacing-m">
          <a href="/omos">
      <Button variant="secondary" size="md:medium small">Læs mere om os</Button>
      </a>
      </div>

  </div>
</section>

  <!-- Afsnit om Menuen + CTA (makro) til Menu -->
 <section class="bg-color-creme min-h-[0vh] flex flex-col-reverse md:flex-row items-center justify-center md:space-x-spacing-2xl px-0 space-y-spacing-2xl w-full mx-auto ">
<div class="md:ml-20 md:w-2/6 w-4/5 order-2 md:order-1">
  <h1 class="text-left text-44 mb-8 font-EBGaramond font-medium leading-38 md:text-52 mt-spacing-5xl-(mobil) md:mt-spacing-0">
    Smag du kan tage med hjem
  </h1>
  <p class="text-left font-LivvicRegular text-18 font-regular leading-28 md:text-18 mb-spacing-xl-(mobil) pr-20">
    Ud over frisklavet kaffe og hjemmelavet bagværk byder vi også på naturlige vine, nøje udvalgte produkter og små delikatesser. Alt er udvalgt med omtanke både til dig selv, til middagsbordet eller som en særlig gave. <br> Tag lidt af Esso med hjem og forlæng følelsen – også uden for caféens fysiske rum.
  </p>

  <!-- CTA-knap -->
  <div class="flex justify-center md:justify-start mt-spacing-m">
          <a href="/menu">
       <Button variant="primary" size="md:medium small">Se caféens udvalg</Button>
      </a>
      </div>
</div>

<!-- Billeder -->
<div class="flex space-x-6 md:w-[580px] w-full justify-center md:space-x-spacing-sm order-1 md:order-2">
  <Image
    src={Mexico}
    alt="en kaffe bliver lavet"
    class="h-[15%] w-[30%] object-cover object-[60%_115%] rounded-border-radius-25 md:h-[250px] md:w-[180px] md:mt-[300px] mt-spacing-2xl-(mobil) "
  />
  <Image
    src={SolMaane}
    alt="interiør af café"
    class="h-[30%] w-[45%] mt-[-0px] object-cover object-[60%_115%] rounded-border-radius-25 md:h-[350px] md:w-[250px] md:mt-[250px] md:mb-spacing-6xl mb-spacing-5xl-(mobil)"
  />
</div>
</section>

 <!-- Instagram Feed -->
<section class="flex flex-col items-left text-left md:text-left mb-spacing-2xl md:mt-spacing-4xl mt-spacing-2xl px-spacing-m max-w-[1200px] mx-auto">
  <h1 class="text-44 md:text-52 font-EBGaramond font-medium mb-spacing-xs ">
    Følg med på vores instagram
  </h1>
  <h3 class="text-36 md:text-44 font-EBGaramond mb-spacing-xs hover:underline text-left md:text-left">
    <a href="https://www.instagram.com/esso_cph/" target="_blank" rel="noopener noreferrer">@esso_cph</a>
  </h3>
  <p class="font-LivvicRegular text-18 mt-spacing-xs">
    På Instagram deler vi små glimt fra vores hverdag i caféen – fra friskbrygget kaffe <br />
    og hjemmelavet mad til nye varer på hylderne og de hyggelige øjeblikke.
  </p>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-spacing-2xl mb-spacing-m md:mb-spacing-2xl">
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Cheesecake} alt="første billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_68%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={KaffeBlomstLys} alt="andet billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_80%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={VinGalleri} alt="tredje billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_60%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Champagne} alt="fjerde billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[60%_80%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Kaffemaskine} alt="femte billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={KaffeSkammel} alt="sjette billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Skaenke} alt="syvende billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105 object-[40%_95%]" /></a>
    <a href="https://www.instagram.com/esso_cph/" target="_blank"><Image src={Galleri8} alt="ottende billede på instagram" class="h-[200px] md:h-[250px] w-[200px] md:w-[250px] object-cover rounded-border-radius-25 transition-transform duration-300 transform hover:scale-105" /></a>
  </div>
</section>

  </section>

  <Formular />

</MainLayout>