---
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import { Image } from 'astro:assets';
import menuhero from "../assets/images/hero_menu.webp";
import matcha from "../assets/images/matchaillu.webp";
import tomat from "../assets/images/tomatillu.webp";
import kage from "../assets/images/kageillu.webp";
import oliven from "../assets/images/oliven.webp";
import lemonade from "../assets/images/lemonadeillu.webp";
import vin from "../assets/images/vinillu.webp";
import mexico from "../assets/images/mexico.webp";
import sologmaane from "../assets/images/sologmaane.webp";
import espresso from "../assets/images/espressotrio.webp";
---

<MainLayout title="Menu">
  <!-- OBS: NYT HERO IMAGE!!!  -->
  <section class="pb-48">
    <div class="relative">
      <Image 
                src={menuhero} alt='billede af cheesecake' class="h-[515px] w-[350px] scale-150 md:max-h-[600px] md:w-[1152px] object-cover md:object-cover"/>
    <div class="absolute inset-0 text-center pt-24 md:pt-56  md:mt-20 m-20 mt-52 md:m-0">
    <h1 class="text-44 md:text-52 font-EBGaramond md:mb-[-40px] mb-10 text-color-mørkebrun">Menu</h1>
    </div>
    </div>
  </section>


  <div class="px-16 pt-6 pb-spacing-6xl-(mobil) md:px-28 md:pt-spacing-3xl-(mobil)">
    <h1 class="text-44 font-EBGaramond text-center md:text-44">Kom forbi og smag på vores hjemmelavede udvalg
      <br> Spørg venligst ved allergener</h1>
    
      <!-- eksempel på knapper for at scroll ned til kategorier se på desktop-->
      <!-- <a href="">
        <div class="md:pt-20 md:pl-10">
          <button class="bg-white font-EBGaramond text-20 border border-color-mørkebrun md:px-8 md:py-3 rounded-border-radius-25 md:border-2 md:hover:bg-color-mørkebrun md:hover:text-white md:transition md:ease-in-out md:hover:scale-110"> Varme drikke</button>
        </div>
      </a> -->
  </div>


  <!-- varme drikke -->
  <section class="varmedrikke px-10 md:px-32">
    <h2 class="text-36 font-EBGaramond pl-3 md:text-44 md:pl-28">Varme drikke</h2>

    <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-14">
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Dobbelt Espresso</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt shot af vores espresso blend med noter af bær og karamel fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">30,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Americano</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">38,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cortado</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">40,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Flat White </h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Dobbelt espresso toppet med steamet og cremet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">40,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cappuccino</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Èt espresso shot toppet med ekstra cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">42,-</p>
      </div>
   
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Café Latte</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Èt shot espresso toppet med cremet og steamet mælk fra Just Coffee</p>
        <p class="text-18 font-LivvicRegular pt-2">45,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Matcha Latte</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Cremet latte lavet på matcha </p>
        <p class="text-18 font-LivvicRegular pt-2">65,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Hot Chocolate</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Varm og creamet kakao toppet med steamet mælk</p>
        <p class="text-18 font-LivvicRegular pt-2">45,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Genmaicha tea</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Japansk grøn te blandet med ristet ris og nøddeagtig smag</p>
        <p class="text-18 font-LivvicRegular pt-2">35,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Hõjicha tea</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Grøn te ristet ved høj varme med lavt koffeinindhold</p>
        <p class="text-18 font-LivvicRegular pt-2">35,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Havremælk</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Havremælk fra Naturli - et plantealternativt til komælk </p>
        <p class="text-18 font-LivvicRegular pt-2">10,-</p>
      </div>

      <div class="col-span-2 md:col-span-1 flex justify-center pt-6 md:pr-52 pb-10 md:pb-16">
        <Image src={matcha} alt="illustration af matcha kaffe og kaffebønner" class="w-56 h-48 md:w-52 md:h-44 " />
      </div>
    </div>
    <hr class="my-10 mx-4 border-color-mørkebrun">
  </section>


  <!-- Mad -->
  <section class="mad px-10 md:px-32 pt-spacing-xl-(mobil)">
    <h2 class="text-36 font-EBGaramond pl-4 md:text-44 md:pl-28">Mad</h2>

    <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-14">
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Bolle m. ost</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Surdejsbolle med hjemmerørt smør og vesterhavsost</p>
        <p class="text-18 font-LivvicRegular pt-2">38,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Grillet toast m. comté</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Vælg imellem to slags fyld- Syltede svampe eller skinke</p>
        <p class="text-18 font-LivvicRegular pt-2">85,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Salat</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Caprese salat med tomat, mozzarella og olivenolie</p>
        <p class="text-18 font-LivvicRegular pt-2">90,-</p>
      </div>

      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Yoghurt m. granola</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Cremet græsk yoghurt toppet med sprød granola og æble kompot </p>
        <p class="text-18 font-LivvicRegular pt-2">75,-</p>
      </div>   

      <div class="hidden md:block"></div>
      
      <div class="col-span-2 md:col-span-1 flex justify-center pt-6 md:pr-52 pb-10 md:pb-16">
        <Image src={tomat} alt="illustration af matcha kaffe og kaffebønner" class="w-44 h-48 md:w-44 md:h-48 " />
      </div>

    </div>
    <hr class="my-10 mx-4 border-color-mørkebrun">
  </section>


   <!-- Dessert -->
   <section class="dessert px-10 md:px-32 pt-spacing-xl-(mobil)">
    <h2 class="text-36 font-EBGaramond pl-4 md:text-44 md:pl-28">Dessert</h2>

    <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-14">
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Kanelsnegl</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Hvedesnel bagt med kanel og smør</p>
        <p class="text-18 font-LivvicRegular pt-2">38,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cheesecake</h3>
        <p class="text-18 font-LivvicRegular md:pr-28">Cremet Basque cheesecake med noter af karamel</p>
        <p class="text-18 font-LivvicRegular pt-2">45,-</p>
      </div>
    
      <div>
        <h3 class="text-28 font-EBGaramond pb-3">Cookies</h3>
        <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Chokolade cookies med pistacie og havsalt</p>
        <p class="text-18 font-LivvicRegular pt-2">38,-</p>
      </div>    
      <div class="col-span-2 md:col-span-1 flex justify-center pt-6 md:pr-52 pb-10 md:pb-16">
        <Image src={kage} alt="illustration af matcha kaffe og kaffebønner" class="w-64 h-32 md:w-64 md:h-28 " />
      </div>

    </div>
    <hr class="my-10 mx-4 border-color-mørkebrun">
  </section>
 

     <!-- Snack -->
     <section class="snack px-10 md:px-32 pt-spacing-xl-(mobil)">
      <h2 class="text-36 font-EBGaramond pl-4 md:text-44 md:pl-28">Snack</h2>
  
      <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-14">
        <div>
          <h3 class="text-28 font-EBGaramond pb-3">Røgede mandler </h3>
          <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Hjemmerøgede og letsaltede mandler </p>
          <p class="text-18 font-LivvicRegular pt-2">30,-</p>
        </div>
      
        <div>
          <h3 class="text-28 font-EBGaramond pb-3">Oliven</h3>
          <p class="text-18 font-LivvicRegular md:pr-28">Sprøde grønne oliven</p>
          <p class="text-18 font-LivvicRegular pt-2">35,-</p>
        </div>
      
        <div>
          <h3 class="text-28 font-EBGaramond pb-3">Surdejsbrød</h3>
          <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Surdejsbrød med olivenolie</p>
          <p class="text-18 font-LivvicRegular pt-2">38,-</p>
        </div>    
        <div class="col-span-2 md:col-span-1 flex justify-center pt-6 md:pr-52 pb-10 md:pb-16">
          <Image src={oliven} alt="illustration af matcha kaffe og kaffebønner" class="w-52 h-48 md:w-48 md:h-44 " />
        </div>
  
      </div>
      <hr class="my-10 mx-4 border-color-mørkebrun">
    </section>
 


         <!-- Kolde drikke  -->
     <section class="koldedrikke px-10 md:px-32 pt-spacing-xl-(mobil)">
       <h2 class="text-36 font-EBGaramond pl-4 md:text-44 md:pl-28">Kolde drikke</h2>
      
       <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-16">
          <div>
           <h3 class="text-28 font-EBGaramond pb-3">Lemonade</h3>
           <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Forfriskende citron lemonade</p>
           <p class="text-18 font-LivvicRegular pt-2">45,-</p>
           </div>
          
           <div>
            <h3 class="text-28 font-EBGaramond pb-3">Æblejuice </h3>
            <p class="text-18 font-LivvicRegular md:pr-28">Kold æblejuice</p>
            <p class="text-18 font-LivvicRegular pt-2">40,-</p>
          </div>
          
          <div>
            <h3 class="text-28 font-EBGaramond pb-3">Is-latte</h3>
             <p class="text-18 font-LivvicRegular md:pr-28">Èt shot espresso i kold mælk og isterninger</p>
            <p class="text-18 font-LivvicRegular pt-2">50,-</p>
           </div>
          
          <div>
            <h3 class="text-28 font-EBGaramond pb-3">Is-matcha </h3>
             <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Kold cremet islatte med matcha og isterninger </p>
            <p class="text-18 font-LivvicRegular pt-2">65,-</p>
          </div>  
            
          <div>
            <h3 class="text-28 font-EBGaramond pb-3">Sirup</h3>
            <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Vanilje eller karamelsirup </p>
            <p class="text-18 font-LivvicRegular pt-2">10,-</p>
           </div> 
            
          <div class="col-span-2 md:col-span-1 flex justify-center pt-6 md:pr-72 pb-10 md:pb-16">
              <Image src={lemonade} alt="illustration af matcha kaffe og kaffebønner" class="w-40 h-56 md:w-40 md:h-56 " />
            </div>
         </div>
          <hr class="my-10 mx-4 border-color-mørkebrun">
        </section>


            <!-- Alkohol  -->
     <section class="koldedrikke px-10 md:px-32 pt-spacing-xl-(mobil)">
      <h2 class="text-36 font-EBGaramond pl-4 md:text-44 md:pl-28">Alkohol</h2>
     
      <div class="grid grid-cols-2 gap-x-10 gap-y-12 px-4 pt-16 md:pl-32 md:gap-y-20 md:gap-x-20">
         <div>
          <h3 class="text-28 font-EBGaramond pb-3">Orangevin</h3>
          <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Kølig naturvin af hvidvin lavet som rødvin</p>
          <p class="text-18 font-LivvicRegular pt-2">75,-</p>
         </div>
         
          <div>
           <h3 class="text-28 font-EBGaramond pb-3">Hvidvin</h3>
           <p class="text-18 font-LivvicRegular md:pr-28">Hvidvin med frugtnoter</p>
           <p class="text-18 font-LivvicRegular pt-2">85,-</p>
         </div>
         
         <div>
           <h3 class="text-28 font-EBGaramond pb-3">Øl på flaske</h3>
            <p class="text-18 font-LivvicRegular md:pr-28">Rådhuspilsner eller India Pale Ale</p>
           <p class="text-18 font-LivvicRegular pt-2">50,-</p>
          </div>
         
         <div>
           <h3 class="text-28 font-EBGaramond pb-3">Fadøl</h3>
            <p class="text-18 font-LivvicRegular pr-2 md:pr-28">Session India Pale Ale (mild) </p>
           <p class="text-18 font-LivvicRegular pt-2">65,-</p>
         </div>  
           
         <div class="hidden md:block"></div>

         <div class="col-span-2 md:col-span-1 flex justify-center pt-12 md:pr-72 pb-10 md:pb-16 md:pt-0">
             <Image src={vin} alt="illustration af matcha kaffe og kaffebønner" class="w-32 h-72 md:w-32 md:h-72 " />
           </div>
        </div>
       </section>




         <!-- Lidt ekstra til hjemmet -->
       <section class="pt-spacing-5xl-(mobil) px-10 pb-spacing-6xl-(mobil) md:px-32 md:pt-12">
          <div>
            <h1 class="text-44 font-EBGaramond">Lidt ekstra til hjemmet </h1>
            <p class="pt-spacing-xl-(mobil) text-18 font-LivvicRegular md:pr-80">Kan du ikke få nok af vores kaffe? Nu kan du tage favoritterne med hjem! <br> Kom forbi caféen og køb vores kaffeposer fra Just Coffee, så du kan nyde caféens smag, når som helst.</p>
          </div>
  
        <div class="pt-spacing-4xl-(mobil) pb-spacing-2xl-(mobil) md:pt-spacing-xl">
          <h2 class="text-36 font-EBGaramond">Kaffeposer</h2>
        </div>
        
      
     
        <div class="grid grid-cols-1 gap-y-32 md:grid-cols-3 md:gap-x-8 md:gap-y-12">
          <!-- Card 1 -->
          <div>
            <div class="flex justify-center pb-10">
              <Image src={mexico} alt="Mexicansk kaffe" class="w-80 h-80 object-cover rounded-[25px] md:w-60 md:h-60" />
            </div>
            <div class="px-4 md:pl-16">
              <h3 class="text-28 font-EBGaramond pb-4 md:text-start">Mexicansk kaffe</h3>
              <p class="text-18 font-LivvicRegular">Vores kaffe fra Oaxaca, Mexico har en frisk syrlighed balanceret med en cremet fylde. Den har en ren smag med uimodståelig aroma af ristede nødder og er en højlands arabicakaffe.</p>
            </div>
          </div>
        
          <!-- Card 2 -->
          <div>
            <div class="flex justify-center pb-10">
              <Image src={sologmaane} alt="Espresso Sol og Måne" class="w-72 h-72 object-cover rounded-[25px] md:w-60 md:h-60" />
            </div>
            <div class="px-4 md:px-0 md:pl-14">
              <h3 class="text-28 font-EBGaramond pb-4 md:text-start">Espresso Sol og Måne</h3>
              <p class="text-18 font-LivvicRegular">En intens og fyldig espressoblanding med lækker crema og tydelig sødme. Fremstillet af 100% højlandsarabicabønner for en dyb og karakterfuld oplevelse i koppen.</p>
            </div>
          </div>
        
          <!-- Card 3 -->
          <div>
            <div class="flex justify-center pb-10">
              <Image src={espresso} alt="Espresso Trio" class="w-72 h-72 object-cover rounded-[25px] md:w-60 md:h-60" />
            </div>
            <div class="px-4 md:px-0 md:pl-14">
              <h3 class="text-28 font-EBGaramond pb-4 md:text-start">Espresso Trio</h3>
              <p class="text-18 font-LivvicRegular">En kompleks og elegant espresso lavet på bønner fra Etiopien, Papua Ny Guinea og Honduras. Hver bønne ristes separat for at fremhæve aromaen – resultatet er en blød og sødmefuld espresso med mild syrlighed og noter af tørrede bær.</p>
            </div>
          </div>
        </div>
        







       </section>
      


























<Nyhedsbrev></Nyhedsbrev>
</MainLayout>
