---
// Importer nødvendige komponenter
import MainLayout from "../layouts/MainLayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Omoshero from '../assets/images/omoshero.webp';
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
import essofacadeny from '../assets/images/esso_facade.webp';
import omosny from '../assets/images/omos.webp';
import vin from '../assets/images/vinillu.webp';
import oliven from '../assets/images/oliven.webp';
import citattegn1 from '../assets/images/citattegn1.webp';
import citattegn2 from '../assets/images/citattegn2.webp';
import keld_bryg from '../assets/images/keld_bryg.webp';
import oel3 from '../assets/images/oel3.webp';
import events from '../assets/images/events.webp';
---

<MainLayout title="Om os">
    <section class="pb-48">
        <div class="relative">
          <Image 
                    src={Omoshero} alt='billede af skammel med vin og glas' class="h-[515px] w-[528px] scale-150 md:max-h-[600px] md:w-screen object-cover"/>
        <div class="absolute inset-0 text-center pt-24 md:ml-16 md:mt-20 m-20 mt-52 md:m-0">
        <h1 class="text-44 md:text-52 font-EBGaramond md:mb-[-40px] mb-10 text-color-mørkebrun">Om os</h1>
        </div>
        </div>
      </section>

        <!-- note: indsætte mx-16 (mobil) på mainlayout så alle sider har samme margin  -->
   <!-- En drøm i valby afsnit -->
  <section class="pb-spacing-6xl-(mobil) md:pt-spacing-m">
    <div class="grid md:grid md:grid-cols-2 ">
        <div class="tekst_knap md:pt-20 md:pl-6">
            <div class="mx-16 md:mx-18 md:pl-12">
                <h1 class="text-44 font-EBGaramond text-color-mørkebrun pb-spacing-ml-(mobil) md:text-52 md:pb-spacing-m">En drøm midt i Valby</h1>
                <p class="text-18 font-LivvicRegular leading-28 text-color-mørkebrun pb-spacing-2xl-(mobil) md:text-18 md:pr-6">Josephine står bag Esso – stifter, idékvinde og ildsjæl. <br> Sammen med sin kæreste i køkkenet og et lille hold gode folk åbner hun dørene i maj 2025. Alt er skabt fra bunden med én ambition: at invitere Valby og resten af København indenfor i et enkelt, men gennemarbejdet univers.
                 <br> Her er stemning, nærvær og fællesskab altid i centrum - et sted, hvor mennesker mødes i øjenhøjde.</p>
              </div>
          
              <a href="https://kobenhavnliv.dk/butiksnytgl/29-aarige-josephine-har-sparet-op-i-5-aar-nu-aabner-hun-sin-cafe-skal-matche-brokvarterernes-top">
                <div class="flex justify-center md:hidden">
                  <Button  type="submit" variant="secondary", size="small" >Læs mere her</Button>
                </div>
                <!-- OBS: knap variant til desktop -->
                <div class="md:flex md:justify-start md:pt-spacing-s hidden md:pl-12 md:mx-14">
                  <Button  type="submit" variant="secondary", size="medium" >Læs mere her</Button>
                 </div>
              </a>
        </div>
    
      <div class="flex justify-center pt-spacing-3xl-(mobil) md:pr-10">
        <Image src={essofacadeny} alt="billede af kvinder der sidder foran en bygning" class="rounded-border-radius-25 w-[450px] h-[450px] object-cover md:w-[540px]"/>
      </div>
    </div>

  </section>


       <!-- Det der driver os afsnit ikke med rigtigt billede -->
     <section class="pb-spacing-6xl-(mobil) md:pt-spacing-7xl md:pb-spacing-7xl">
      <div class="grid md:grid md:grid-cols-2">
        <div class="mx-16 md:order-1 md:pt-16">
          <h1 class="text-44 font-EBGaramond text-color-mørkebrun pb-spacing-ml-(mobil) md:text-52 md:pb-spacing-m">Det der driver os</h1>
          <p class="text-18 font-LivvicRegular leading-28 text-color-mørkebrun pb-spacing-2xl-(mobil) md:pr-20">For os er Esso et hyggeligt sted, hvor det er meningen, at vi kan dele idéer, drømme og inspirere hinanden. <br> Det handler ikke kun om kaffen, men om møderne mellem mennesker uden hast. <br> Vi tror på, at de bedste samtaler opstår, når skuldrene er sænket og maverne lidt fulde. <br> Hos os er der plads til både snakke og stilhed, hvor ægthed, æstetik og nysgerrighed opstår og mødes – og det er dét, der driver os.</p>
        </div>

        <!-- husk at give rigtigt img lift mere i with -->
        <div class="flex justify-center pt-spacing-xl-(mobil)">
          <Image src={omosny} alt="billede af kvinder der sidder foran en bygning" class="rounded-border-radius-25 w-[450px] h-[450px] object-cover"/>
    
        </div>
      </div>
    </section>


          <!-- Citat afsnit -->
     <section class="bg-color-creme pb-24 md:pb-32 md:py-20">
        <div class="md:grid md:grid-cols-2 md:pl-16 md:gap-2">
            <div class="grid grid-cols-2 mx-16 pt-28 md:gap-3">
                <div class="ml-28">
                    <Image src={vin} alt="illustration af vinglas og vinflaske" class="w-28 md:w-36"/>
                </div>
                <div class="">
                    <Image src={oliven} alt="illustration af vinglas og vinflaske" class="pt-16 w-36 md:w-48"/>
                </div>
             </div>
                
             <div class="citat pt-spacing-3xl-(mobil) md:pt-spacing-3xl">
                  <!-- <div class="pl-56 pb-14">
                    <Image src={citattegn1} alt="billede af citationstegn" class="ml-20 "/>
                  </div> -->
                  <h3 class="text-28 font-EBGaramond px-20 pl-36 md:pl-0 md:pr-44 md:text-28 md:pt-10">Jeg har altid villet skabe mit eget – et sted, hvor man kan mærke æstetikken, møde ligesindede og få en oplevelse med alle sanser.</h3>
                  <h3 class="font-EBGaramond text-28 pt-14 pl-36 md:pl-0">– Josephine, stifter af Esso</h3>
                  <!-- <div class="pl-56 pt-14">
                    <Image src={citattegn2} alt="billede af citationstegn" class="ml-20"/>
                  </div> -->
             </div>
        </div>
        
     </section>




    
         <!-- Esso x Kelding brew afsnit -->
          <!-- OBS: md:pt-spacing-7xl var md:pt-spacing-3xl før ændring  -->
    <section class="pt-spacing-6xl-(mobil) mx-16 md:pt-spacing-7xl md:mx-18">
        <div class="md:grid md:grid-cols-2">
            <div class="txt_knap md:pl-16 md:pt-20 ">
                <h1 class="font-EBGaramond text-44 pb-spacing-ml-(mobil) md:pb-spacing-m md:text-52">Esso x Keldling Brew</h1>
                <p class="text-18 font-LivvicRegular leading-28 pb-spacing-3xl-(mobil) md:pr-24">Vi tror på gode forbindelser til hinanden og tæt samarbejde med vores leverandører. Derfor arbejder vi med lokale ildsjæle, som går op i kvalitet og godt håndværk. 
                  Et af dem er Keldling Brew, der brygger forfriskende øl med stor passion og præcision. 
                  Smagen er sin egen - og vi er vilde med den. <br> <br> Kelds bryg har base i Hvidovre, og vi er stolte af at kunne servere hans fermenterede bryg på Esso.
                  </p>
        
                <a href="/menu">
                  <div class="flex justify-center md:flex md:justify-start md:pt-6">
                    <Button  type="submit" variant="primary", size="small" >Se vores menu</Button>
                  </div>
               </a>
             </div>
        
        
        <div class="img grid grid-cols-2 pt-spacing-4xl-(mobil) md:pr-14">
                <div class="pt-20 pl-6 md:pl-12">
                  <Image src={keld_bryg} alt="billede af grå øldåse" class="rounded-border-radius-25 object-cover w-52 h-[250px] md:w-56 md:h-[300px]" />
                </div>
                <div>
                  <Image src={oel3} alt="billede af to ølflasker" class="rounded-border-radius-25 object-cover md:h-full"/>
                </div>
         </div>

        </div>

      </section>


          <!-- Events afsnit -->
    <section class="pt-spacing-6xl-(mobil) pb-spacing-6xl-(mobil) md:pt-spacing-7xl md:pb-spacing-6xl md:mx-18">
        <div class="grid md:grid md:grid-cols-2 md:pl-8">
          <div class="mx-16 md:order-1 md:pt-16">
            <h1 class="text-44 font-EBGaramond text-color-mørkebrun pb-spacing-ml-(mobil) md:text-52 ">Events</h1>
            <p class="text-18 leading-28 font-LivvicRegular text-color-mørkebrun pb-spacing-2xl-(mobil) md:text-18 md:pr-20">Esso er mere end kaffe – det er et fællesskab og et hyggeligt samlingssted. Vi skaber rum for idéudveksling og nærvær gennem små events som kreative workshops, samtalesaloner, talks om iværksætteri og hyggelige loppemarkeder. 
              <br> Her mødes inspiration, ro og menneskelig relation i øjenhøjde og du er velkommen, uanset om du kommer for en toast, matcha eller en god snak.</p>
          </div>

  
          <div class="flex justify-center pt-spacing-xl-(mobil)">
            <Image src={events} alt="billede af champagne der hældes op i plastik kop" class="rounded-border-radius-25 w-[450px] h-[450px] object-cover md:w-[520px]"/>
          </div>
        </div>

      </section>
 
<Nyhedsbrev></Nyhedsbrev>
</MainLayout>
