---
const { heading, text, buttonText, buttonLink, backgroundColor, textColor } = Astro.props;
import Button from "./Button.astro";
---

<section class="text-center py-10 bg-gray-400 text-white">
  <!-- Overskrift -->
  <h2 class="text-3xl font-bold mb-4">{heading}</h2>

  <!-- Tekstindhold -->
  <p class="mb-6">{text}</p>

  <!-- CTA-knap virker ikke optimalt - den viser ikke hvid tekst -->
  <!-- <a href={buttonLink} 
     class={`inline-block px-8 py-3 rounded-lg hover:bg-blue-700 ${backgroundColor ? `bg-[${backgroundColor}]` : 'bg-blue-500'} ${textColor ? `text-[${textColor}]` : 'text-white'}`}>
    {buttonText}
  </a> -->

    <!-- CTA Knappen (importeret øverst i stedet for brug af props) -->
    <div class="text-center mt-6">
      <Button 
      textMobile="Midlertidig CTA-knap uden brug af props"
      textDesktop="Midlertidig CTA-knap uden brug af props"
      link="/" 
      backgroundColor="#fff" 
      textColor="#ffffff" 
      size="small md:large"
      additionalClasses="hover:bg-[#000] mx-auto ml-0"
      />
  </div>
  
</section>

